<div class="py-8">
  <div
    class="max-w-4xl mx-auto relative"
    x-data="data()"
    x-init="$nextTick(() => { init(); })"
  >
    <!-- Slides -->
    <div class="h-64 border-r border-l border-gray-300">
      <template x-for="(slide, index) in slides" :key="index">
        <div
          x-show="activeSlide === index + 1"
          x-transition:enter="transition transform ease-out duration-1000 absolute"
          x-transition:enter-start="opacity-0 -translate-x-full "
          x-transition:enter-end="opacity-100 translate-x-0 "
          x-transition:leave="transition transform ease-in duration-1000 absolute"
          x-transition:leave-start="opacity-100 translate-x-0 "
          x-transition:leave-end="opacity-0 -translate-x-full "
          class="font-bold text-5xl h-64 w-full flex items-center justify-center bg-indigo-500 text-white rounded-lg"
        >
          <img class="object-cover w-full h-64" :data-src="slide.url" alt="" />
        </div>
      </template>
    </div>

    <!-- Prev/Next Arrows -->
    <div class="absolute inset-0 flex">
      <div class="flex items-center justify-start w-1/2">
        <button
          class="relative inline-flex items-center px-2 py-2 rounded-md border border-gray-300 bg-white text-sm font-medium text-gray-500 hover:bg-gray-50 focus:outline-none -ml-6"
          x-on:click="activeSlide = activeSlide === 1 ? slides.length : activeSlide - 1"
        >
          <span class="sr-only">Previous</span>
          <!-- Heroicon name: solid/chevron-left -->
          <svg
            class="h-5 w-5"
            xmlns="http://www.w3.org/2000/svg"
            viewBox="0 0 20 20"
            fill="currentColor"
            aria-hidden="true"
          >
            <path
              fill-rule="evenodd"
              d="M12.707 5.293a1 1 0 010 1.414L9.414 10l3.293 3.293a1 1 0 01-1.414 1.414l-4-4a1 1 0 010-1.414l4-4a1 1 0 011.414 0z"
              clip-rule="evenodd"
            />
          </svg>
        </button>
      </div>
      <div class="flex items-center justify-end w-1/2">
        <button
          class="relative inline-flex items-center px-2 py-2 rounded-md border border-gray-300 bg-white text-sm font-medium text-gray-500 hover:bg-gray-50 focus:outline-none -mr-6"
          x-on:click="activeSlide = activeSlide === slides.length ? 1 : activeSlide + 1"
        >
          <span class="sr-only">Next</span>
          <!-- Heroicon name: solid/chevron-right -->
          <svg
            class="h-5 w-5"
            xmlns="http://www.w3.org/2000/svg"
            viewBox="0 0 20 20"
            fill="currentColor"
            aria-hidden="true"
          >
            <path
              fill-rule="evenodd"
              d="M7.293 14.707a1 1 0 010-1.414L10.586 10 7.293 6.707a1 1 0 011.414-1.414l4 4a1 1 0 010 1.414l-4 4a1 1 0 01-1.414 0z"
              clip-rule="evenodd"
            />
          </svg>
        </button>
      </div>
    </div>

    <!-- Buttons -->
    <div class="absolute right-0 flex items-center justify-center px-4 mt-4">
      <template x-for="(slide, index) in slides" :key="index">
        <button
          x-on:click="activeSlide = index + 1"
          aria-current="button"
          class="relative inline-flex items-center px-4 py-2 text-sm font-medium -mr-1 border"
          :class="{
              'z-10 bg-indigo-50 border-indigo-500 text-indigo-600': activeSlide === index + 1,
              'bg-white border-gray-300 text-gray-500 hover:bg-gray-50': activeSlide !== index + 1,
              'rounded-l-md': index === 0,
              'rounded-r-md': index === slides.length - 1,
          }"
          x-text="index + 1"
        ></button>
      </template>
    </div>
  </div>
</div>

<script>
  const data = () => {
    return {
      activeSlide: 1,
      slides: [
        { url: "../static/img/social.jpg" },
        { url: "../static/img/rating.jpg" },
        { url: "../static/img/users.jpg" },
      ],
      init() {
        let io = new IntersectionObserver(
          function (entries, observer) {
            entries.forEach(function (entry) {
              if (entry.isIntersecting) {
                let lazyImage = entry.target;
                lazyImage.src = lazyImage.dataset.src;
                lazyImage.removeAttribute("data-src");
                io.unobserve(lazyImage);
              }
            });
          },
          { root: null, threshold: 0 }
        );
        const list = document.querySelectorAll("[data-src]");
        list.forEach((lazyImage) => {
          io.observe(lazyImage);
        });
      },
    };
  };
</script>
