<div id="case" class="py-12 bg-white">
  <div class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8">
    <div class="relative bg-white overflow-hidden">
      <div class="">
        <h2
          class="text-base text-indigo-600 font-semibold tracking-wide uppercase"
        >
          Portfolio
        </h2>
        <p
          class="mt-2 text-3xl leading-8 font-extrabold tracking-tight sm:text-4xl"
        >
          Selected work
        </p>
        <p class="mt-4 max-w-2xl text-xl text-gray-500">
          I've been incredibly lucky to pick up web development. Although I've
          been a software developer since 2003, I started web development in
          2017 with a music blog and its wonderful mix of HTML, CSS and JS.
        </p>
        {% if cases.cases %}
        <div class="">
          {% for case in cases.cases %}
          <p
            class="mt-7 text-xl leading-8 font-extrabold tracking-tight sm:text-2xl underline"
          >
            <a href="{{case.url}}">{{case.project}}</a>
          </p>
          <aside class="sm:float-right sm:w-2/3 mx-8">
            {% set slides = case.images %} {% include "./carousel.html" %}
          </aside>
          <aside
            class="grid grid-cols-2 sm:grid-cols-3 sm:mx-20 sm:my-16 my-9 mx-4 sm:px-4 sm:float-right shadow-xl rounded-md border border-gray-300"
          >
            {% for stat in case.stats %}
            <div
              class="flex flex-col items-center justify-center p-3 items-center h-32"
            >
              <span class="text-md text-gray-500">{{stat.title}}</span>
              <span
                class="text-indigo-600 text-2xl leading-8 font-extrabold tracking-tight sm:text-3xl"
                >{{stat.descr}}
              </span>
            </div>
            {% endfor %}
          </aside>

          <p class="mt-4 w-full text-md text-gray-500">
            {% for para in case.paragraphs %} {{para.text}}<br /><br />
            {% endfor %}
          </p>
          {% endfor %}
        </div>
        {% endif %}
      </div>
    </div>
  </div>
</div>
