<div id="case" class="py-12 bg-white">
  <div class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8">
    <div class="relative bg-white overflow-hidden">
      <div class="">
        <h2
          class="text-base text-indigo-600 font-semibold tracking-wide uppercase"
        >
          Portfolio
        </h2>
        <p
          class="mt-2 text-3xl leading-8 font-extrabold tracking-tight sm:text-4xl"
        >
          Selected work
        </p>
        <p class="mt-4 max-w-2xl text-xl text-gray-500">
          I've been incredibly lucky to pick up web development recently.
          Although I've been a software developer since 2003, I started web
          development in 2017 with a music blog and its wonderful mix of HTML,
          CSS and JS.
        </p>
        <div class="">
          <p
            class="mt-7 text-xl leading-8 font-extrabold tracking-tight sm:text-2xl underline"
          >
            <a href="https://www.themusicstop.app">The Music Stop</a>
          </p>
          <aside class="sm:float-right sm:w-2/3 mx-8">
            {% include "./carousel.html" %}
          </aside>
          <aside
            class="grid grid-cols-2 sm:grid-cols-3 sm:mx-20 sm:my-16 my-9 mx-4 sm:px-4 sm:float-right shadow-xl rounded-md border border-gray-300"
            x-data="{stats: [
              {title: 'Backend', caption: 'Heroku'},
              {title: 'Frontend', caption: 'Netlify'},
              {title: 'Design', caption: 'Tailwind'},
              {title: 'Stack', caption: 'MEVN'},
              {title: 'Payments', caption: 'Stripe'},
              {title: 'Query', caption: 'Axios'},
            ]}"
          >
            <template x-for="(stat, index) in stats" :key="index">
              <div
                class="flex flex-col items-center justify-center p-3 items-center h-32"
              >
                <span class="text-md text-gray-500" x-text="stat.title"></span>
                <span
                  class="text-indigo-600 text-2xl leading-8 font-extrabold tracking-tight sm:text-3xl"
                  x-text="stat.caption"
                >
                </span>
              </div>
            </template>
          </aside>

          <p class="mt-4 w-full text-md text-gray-500">
            This project was simple at the beginning: the MVP should allow you
            to rate songs and let your friends discover what grade you gave to
            which song. As time went by, the expectations went up and the future
            of the website is to be a music hub.<br /><br />At first, I
            hesitated to use the MEAN stack but later I decided to use Vue
            instead of Angular. Vue has a great community and was used in
            tutorials by the creators of Tailwind CSS. The UI uses free
            components from and is inspired by TailwindUI, an interesting
            component library. <br /><br />The choice of Node, Express and Mongo
            for the backend was based on the popularity of those tools. I found
            documentation effortlessly and was up and running in no time with a
            CRUD app. <br /><br />The website uses Stripe to process payments.
            Stripe makes it easy to accept payments in many currencies and their
            API is straightforward. Of course, I used GraphQL with Axios because
            of a single endpoint ease of use.<br /><br />This was my first
            project using a JS library and the MVP was finished in 2 months. I
            learned so much during that time and can't think of a better reward
            than making a new website!
          </p>
        </div>
        <!-- <div class="float-right">
          <aside
            class="grid grid-cols-2 gap-6 sm:mx-20 sm:my-16 my-5 sm:float-left"
          >
            <div
              class="flex flex-col items-center justify-center border border-gray-500 shadow-lg rounded-md p-3 items-center h-32"
            >
              <span class="text-md text-gray-500">Founded</span>
              <span
                class="text-2xl leading-8 font-extrabold tracking-tight sm:text-3xl"
                >2022</span
              >
            </div>
            <div
              class="flex flex-col items-center justify-center border border-gray-500 shadow-lg rounded-md p-3 items-center h-32"
            >
              <span class="text-md text-gray-500">Founded</span>
              <span
                class="text-2xl leading-8 font-extrabold tracking-tight sm:text-3xl"
                >2021</span
              >
            </div>
            <div
              class="flex flex-col items-center justify-center border border-gray-500 shadow-lg rounded-md p-3 items-center h-32"
            >
              <span class="text-md text-gray-500">Founded</span>
              <span
                class="text-2xl leading-8 font-extrabold tracking-tight sm:text-3xl"
                >2021</span
              >
            </div>
            <div
              class="flex flex-col items-center justify-center border border-gray-500 shadow-lg rounded-md p-3 items-center h-32"
            >
              <span class="text-md text-gray-500">Founded</span>
              <span
                class="text-2xl leading-8 font-extrabold tracking-tight sm:text-3xl"
                >2021</span
              >
            </div>
          </aside>
          <p
            class="mt-2 text-xl leading-8 font-extrabold tracking-tight sm:text-2xl"
          >
            The Music Stop
          </p>
          <p class="mt-4 w-full text-md text-gray-500">
            This project was simple at the beginning: the MVP should allow you
            to rate songs and let your friends discover what grade you gave to
            which song. As time went by, the expectations went up and the future
            of the website is to be a music hub.<br /><br />At first, I
            hesitated to use the MEAN stack but later I decided to use Vue
            instead of Angular. Vue has a great community and was used in
            tutorials by the creators of Tailwind CSS. The UI borrows free
            components and is inspired by TailwindUI and I don't regret it.<br /><br />The
            choice of Node, Express and Mongo for the backend was based on the
            popularity of those tools. I found documentation effortlessly and
            was up and running in no time with a CRUD app. Of course, I used
            GraphQL because of the single endpoint ease of use.<br /><br />This
            was my first project using a JS library and the MVP was finished in
            2 months.
          </p>
        </div> -->
      </div>
    </div>
  </div>
</div>
