<div id="case" class="py-12 bg-white">
  <div class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8">
    <div class="relative bg-white overflow-hidden">
      <aside class="sm:float-right sm:w-2/3 mx-8">
        {% include "./carousel.html" %}
      </aside>
      <aside
        class="absolute bottom-0 right-0 grid grid-cols-2 gap-6 mx-36 my-8"
      >
        <div
          class="flex flex-col border border-gray-500 shadow-lg rounded-md p-3 items-center"
        >
          <span class="text-md text-gray-500">Founded</span>
          <span
            class="text-3xl leading-8 font-extrabold tracking-tight sm:text-4xl"
            >2021</span
          >
        </div>
        <div
          class="flex flex-col border border-gray-500 shadow-lg rounded-md p-3 items-center"
        >
          <span class="text-md text-gray-500">Founded</span>
          <span
            class="text-3xl leading-8 font-extrabold tracking-tight sm:text-4xl"
            >2021</span
          >
        </div>
        <div
          class="flex flex-col border border-gray-500 shadow-lg rounded-md p-3 items-center"
        >
          <span class="text-md text-gray-500">Founded</span>
          <span
            class="text-3xl leading-8 font-extrabold tracking-tight sm:text-4xl"
            >2021</span
          >
        </div>
        <div
          class="flex flex-col border border-gray-500 shadow-lg rounded-md p-3 items-center"
        >
          <span class="text-md text-gray-500">Founded</span>
          <span
            class="text-3xl leading-8 font-extrabold tracking-tight sm:text-4xl"
            >2021</span
          >
        </div>
      </aside>
      <div class="">
        <h2
          class="text-base text-indigo-600 font-semibold tracking-wide uppercase"
        >
          Website
        </h2>
        <p
          class="mt-2 text-3xl leading-8 font-extrabold tracking-tight sm:text-4xl"
        >
          Let's work together
        </p>
        <p class="mt-4 max-w-2xl text-xl text-gray-500">
          I'd love to hear from you! Send me a message using the form or email
          me. You are one click away from starting a new website or enhancing an
          existing one.
        </p>
        <p class="mt-4 max-w-2xl text-md text-gray-500">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
          eiusmod tempor incididunt ut labore et dolore magna aliqua.
          Ullamcorper a lacus vestibulum sed arcu. Metus aliquam eleifend mi in
          nulla posuere sollicitudin. <br /><br />Ipsum dolor sit amet
          consectetur adipiscing elit ut. Dignissim suspendisse in est ante. Mi
          sit amet mauris commodo quis. In ornare quam viverra orci. Id velit ut
          tortor pretium viverra suspendisse potenti. Duis at consectetur lorem
          donec massa sapien faucibus. Eu feugiat pretium nibh ipsum. Dictum non
          consectetur a erat nam at lectus. <br /><br />Sed pulvinar proin
          gravida hendrerit lectus. Adipiscing elit ut aliquam purus sit.
          Consectetur adipiscing elit duis tristique sollicitudin nibh sit amet
          commodo. Neque volutpat ac tincidunt vitae semper quis lectus nulla.
          Eu non diam phasellus vestibulum lorem sed risus. <br /><br />Leo
          integer malesuada nunc vel risus commodo viverra maecenas accumsan. In
          fermentum posuere urna nec. Nec tincidunt praesent semper feugiat nibh
          sed pulvinar proin.
        </p>
      </div>
    </div>
  </div>
</div>
