<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="description" content="{{ description }}">
    <meta name="author" content="{{ author }}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/assets/main.bundle.css">
    {% if env.environment == "production" %}
      <script src="/static/js/main.bundle.js" defer></script>
    {% else %}
      <script src="/assets/main.bundle.js" defer></script>
    {% endif %}
    <title>{{ title }} | Nicolas Sursock</title>
    {% block head %}
      {% if env.environment == "production" %}
        <script defer data-domain="nsursock.netlify.app" src="https://plausible.io/js/plausible.js"></script>
        <script async src="https://www.googletagmanager.com/gtag/js?id=G-C3CETTNJHN"></script>
        <script>
          window.dataLayer = window.dataLayer || [];
          function gtag() {
            dataLayer.push(arguments);
          }
          gtag("js", new Date());
          gtag("config", "G-C3CETTNJHN");
          gtag('config', 'AW-824380923');
        </script>
      {% endif %}
    {% endblock %}
  </head>
  <body hx-boost="true" class="{{ 'debug-screens' if env.devMode }}" x-data="{ showCta: false }">
    {% if page.url != '/' %}
      {% include './header.html' %}
    {% endif %}
    {% block body %}
      <!-- This example requires Tailwind CSS v2.0+ -->
      <header class="bg-white shadow">
        <div class="max-w-7xl mx-auto py-6 px-4 sm:px-6 lg:px-8">
          <h1 class="text-3xl font-bold text-gray-900">
            {{ tag }}
          </h1>
        </div>
      </header>
      <main>
        <div class="max-w-7xl mx-auto py-6 sm:px-6 lg:px-8">
          <div class="flex flex-col md:flex-row">
            <div class="container py-8 ">
              {{ content | safe }}
            </div>
          </div>
        </div>
      </main>
    {% endblock %}
    {% include 'sections/cta.html' %}
    {% include 'footer.html' %}
  </body>
</html>