<ol
  x-data="{ showArticle: false }"
  class="md:h-screen mt-6 grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-4"
  x-intersect.once="showArticle = true; $el.classList.remove('md:h-screen')"
>
  {%- for post in postslist | reverse -%}
  <li
    x-show="showArticle"
    x-transition:enter="transform transition ease-in-out duration-1000"
    x-transition:enter-start="-rotate-180 scale-50 opacity-25"
    x-transition:enter-end="rotate-0 scale-100 opacity-100"
    class="bg-white shadow-lg border border-gray-200 rounded-lg max-w-sm h-full"
  >
    <a href="{{ post.url }}">
      <img
        class="rounded-t-lg object-cover"
        data-src="{{ post.data.featured }}&q=80&w=480&h=320"
        alt=""
        x-intersect.once.ratio-0="showArticle = true; $el.src = $el.dataset.src"
      />
      <div class="flex flex-col p-7 divide-y divide-gray-300 justify-between">
        <div class="">
          <h2
            class="
              text-sm text-indigo-600
              font-semibold
              tracking-wide
              uppercase
              text-center
            "
          >
            {{ post.data.tags[0] }}
          </h2>
          <p
            class="
              line-clamp-2
              mt-2
              text-xl
              leading-8
              font-bold
              tracking-tight
              text-gray-900
              sm:text-2xl
              dark:bg-indigo-900 dark:text-gray-200
            "
          >
            {{ post.data.title + ' ' + post.data.title2 }}
          </p>
          <p
            class="
              line-clamp-4
              mt-4
              max-w-2xl
              text-md text-gray-500
              lg:mx-auto
              dark:bg-indigo-900 dark:text-gray-200
            "
          >
            {{ post.data.description }}
          </p>
        </div>
        <div class="mt-4 pt-4 flex items-center">
          <img
            class="h-12 w-12 rounded-full"
            src="/static/img/{{ post.data.author.split(' ').join('-') }}-small.jpg"
            alt=""
          />
          <div class="ml-3 flex flex-col">
            <span class="text-sm font-semibold">{{ post.data.author }}</span>
            <span
              class="text-sm text-gray-500"
              x-data="{ time: {{ post.templateContent.split(' ').length / 200 }} }"
            >
              {{ post.data.date | date("MMM dd, yyyy") }} •
              <span x-text="`${Math.round(time).toString().split('.')[0]} min read`" />
            </span>
          </div>
        </div>
      </div>
    </a>
  </li>
  {%- endfor -%}
</ol>
