/* @import url('https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap'); */
/* @import url('https://fonts.googleapis.com/css2?family=Erica+One&family=Poppins&display=swap'); */

@import "tailwindcss/base";
@import "./styles/base.pcss";

@import "tailwindcss/components";
@import "./styles/components.pcss";

@import "tailwindcss/utilities";
@import "./styles/utilities.pcss";

html { 
  scroll-behavior: smooth;
}