<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="description" content="{{ description }}">
    <meta name="author" content="{{ author }}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="google-site-verification" content="ElwriKJxsec5ariCaXI5cy7eo0kMlqtJZF3YOxDOO3w"/>
    <link href="{{ site.url }}{{ page.url }}" rel="canonical">
    {% if env.environment == "production" %}
    <style>
      /* inject-inline: /dist/static/assetscritical.css */
    </style>
    {% endif %}
    <link rel="stylesheet" href="/assets/main.bundle.css">
    <link
    rel="icon" type="image/x-icon" href="/static/img/favicon.ico">
    {# <link rel="preconnect" href="https://fonts.googleapis.com">
                                        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
                                        <link href="https://fonts.googleapis.com/css2?family=Special+Elite&display=block" rel="stylesheet"> #}
    {% if env.environment == "production" %}
      <script src="/static/js/main.bundle.js" defer></script>
    {% else %}
      <script src="/assets/main.bundle.js" defer></script>
    {% endif %}
    <title>{{ title }} | Sursock Labs</title>
    {% block head %}
      <script>
        if (
          localStorage.theme === 'dark' ||
          (!('theme' in localStorage) && window.matchMedia('(prefers-color-scheme: dark)').matches)
        ) {
          document
            .documentElement
            .classList
            .add('dark')
        } else {
          document
            .documentElement
            .classList
            .remove('dark')
        }
      </script>
      {% if env.environment == "production" %}
        <!-- Google Tag Manager -->
        <script>
          (function (w, d, s, l, i) {
            w[l] = w[l] || [];
            w[l].push({'gtm.start': new Date().getTime(), event: 'gtm.js'});
            var f = d.getElementsByTagName(s)[0],
              j = d.createElement(s),
              dl = l != 'dataLayer'
                ? '&l=' + l
                : '';
            j.async = true;
            j.src = 'https://www.googletagmanager.com/gtm.js?id=' + i + dl;
            f.parentNode.insertBefore(j, f);
          })(window, document, 'script', 'dataLayer', 'GTM-5MN6MTZ');
        </script>
        <!-- End Google Tag Manager -->
      {% endif %}
    {% endblock %}
  </head>
  <body hx-boost="true" class="{{ 'debug-screens' if env.devMode }} dark:bg-gray-900" x-data="global">
    {% if page.url == '/' %}
      <div
        x-show="lastScrollTop > landingPageOffset"
        x-transition:enter="animate-swing "
        :class="{ 'sticky top-0 z-[200]' : isScrollingUp || !isScrollingUp }">
        {% include '../header.njk' %}
      </div>
    {% else %}
      <div :class="{ 'sticky top-0 z-[200] animate-swing' : isScrollingUp || !isScrollingUp }">
        {% include '../header.njk' %}
      </div>
    {% endif %}
    {% block body %}
      {% if env.environment == "production" %}
        <!-- Google Tag Manager (noscript) -->
        <noscript>
          <iframe
            src="https://www.googletagmanager.com/ns.html?id=GTM-5MN6MTZ"
            height="0"
            width="0"
            style="display:none;visibility:hidden"></iframe>
        </noscript>
        <!-- End Google Tag Manager (noscript) -->
      {% endif %}
      {% if page.url == '/about-draft/' %}
        <div class="container py-8 max-w-none prose lg:prose-xl dark:prose-dark dark:text-gray-400 sm:w-3/5 xl:w-2/4">
          {{ content | safe }}
        </div>
      {% else %}
        <div>
          {{ content | safe }}
        </div>
      {% endif %}
    {% endblock %}
    {% include 'sections/cta.html' %}
    {% include 'footer.njk' %}
  </body>
</html>