<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="description" content="{{ description }}">
    <meta name="author" content="{{ author }}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="{{ site.url }}" rel="canonical">
    <link rel="stylesheet" href="/assets/main.bundle.css">
    <link rel="icon" type="image/x-icon" href="/static/img/favicon.ico">
    {% if env.environment == "production" %}
      <script src="/static/js/main.bundle.js" defer></script>
    {% else %}
      <script src="/assets/main.bundle.js" defer></script>
    {% endif %}
    <title>{{ title + ' ' + title2 }} | Sursock Labs</title>
    {% block head %}
      {% if env.environment == "production" %}
        <script defer data-domain="nsursock.netlify.app" src="https://plausible.io/js/plausible.js"></script>
        <script>
          window.plausible = window.plausible || function () {
            (window.plausible.q = window.plausible.q || []).push(arguments)
          }
        </script>
      {% endif %}
    {% endblock %}
    <meta property='og:title' content="{{ title + ' ' + title2 }}"/>
    <meta property='og:image' content="{{ featured }}&q=80&w=1920&h=1280"/>
    <meta property='og:description' content="{{ description }}"/>
    <meta property='og:url' content="{{ 'http://nsursock.netlify.app' + page.url }}"/>
    <meta property="”og:type”" content="article"/>
  </head>
  <body hx-boost="true" class="{{ 'debug-screens' if env.devMode }}" x-data="{ showCta: false }">
    {% if page.url != '/' %}
      {% include '../header.html' %}
    {% endif %}
    {% block body %}
      {% include '../partials/affiliate.html' %}
      <!-- This example requires Tailwind CSS v2.0+ -->
      <div class="relative bg-white overflow-hidden">
        <div class="max-w-7xl mx-auto">
          <div class="relative z-10 pb-8 bg-white sm:pb-16 md:pb-20 lg:max-w-2xl lg:w-full lg:pb-28 xl:pb-32">
            <svg
              class="hidden lg:block absolute right-0 inset-y-0 h-full w-48 text-white transform translate-x-1/2"
              fill="currentColor"
              viewbox="0 0 100 100"
              preserveaspectratio="none"
              aria-hidden="true">
              <polygon points="50,0 100,0 50,100 0,100"/>
            </svg>
            <div>
              <div class="relative pt-6 px-4 sm:px-6 lg:px-8"></div>
            </div>
            <main class="mt-10 mx-auto max-w-7xl px-4 sm:mt-12 sm:px-6 md:mt-16 lg:mt-20 lg:px-8 xl:mt-28">
              <div class="sm:text-center lg:text-left">
                <h1 class="text-4xl tracking-tight font-extrabold text-gray-900 sm:text-5xl md:text-6xl">
                  <span class="block xl:inline">{{ title }}</span>
                  <span class="block text-indigo-600 xl:inline">{{ title2 }}</span>
                </h1>
                <p class="mt-3 text-base text-gray-500 sm:mt-5 sm:text-lg sm:max-w-xl sm:mx-auto md:mt-5 md:text-xl lg:mx-0">
                  {{ description }}
                </p>
                <div class="mt-5 sm:mt-8 sm:justify-center lg:justify-start flex flex-wrap sm:w-4/5 sm:mx-auto">
                  {% for tag in tags %}
                    {% if tag != 'blog' %}
                      {% if loop.index == 1 %}
                        <div class="rounded-md shadow mt-3 mr-2 ">
                          <a
                            href="/tags/{{ tag | slug }}"
                            class="w-full flex items-center justify-center px-5 py-2 border border-transparent text-base font-medium rounded-md
                              text-white bg-indigo-600 hover:bg-indigo-700 md:text-lg ">
                            {{ tag }}
                          </a>
                        </div>
                      {% else %}
                        <div class="mt-3  mr-2 ">
                          <a
                            href="/tags/{{ tag | slug }}"
                            class="w-full flex items-center justify-center px-5 py-2 border border-transparent text-base font-medium rounded-md
                              text-indigo-700 bg-indigo-100 hover:bg-indigo-200 md:text-lg ">
                            {{ tag }}
                          </a>
                        </div>
                      {% endif %}
                    {% endif %}
                  {% endfor %}
                </div>
              </div>
            </main>
          </div>
        </div>
        <div class="lg:absolute lg:inset-y-0 lg:right-0 lg:w-1/2">
          <picture>
            <source media="(max-width: 799px)" srcset="{{ featured }}&q=80&w=480&h=320"/>
            <source media="(min-width: 800px)" srcset="{{ featured }}&q=80&w=1080&h=720"/>
            <img class="h-56 w-full object-cover sm:h-72 md:h-96 lg:w-full lg:h-full" src="{{ featured }}&q=80&w=1920&h=1280" alt=""/>
          </picture>
        </div>
      </div>
      <div class="flex flex-col md:flex-row">
        <aside class="px-4  xl:w-1/5 hidden h-screen sticky top-0 xl:flex items-center justify-center flex-col"></aside>
        <div class="container py-8 prose lg:prose-xl md:w-3/5">
          {{ content | safe }}
        </div>
        <aside class="order-first md:order-none px-7 lg:w-2/5 xl:w-1/5 md:h-screen md:sticky md:top-0 sm:flex sm:items-center
            md:flex-col md:justify-end">
          <img
            x-intersect.once.ratio-0="$el.src = $el.dataset.src"
            class="m-4 rounded-full w-40 h-40 border-4 border-white mx-auto"
            data-src="/static/img/{{ author.split(' ').join('-') }}-small.jpg"
            alt=""/>
          <div class="flex flex-col justify-between">
            <div class="flex items-center justify-center m-5 md:order-last">
              <a
                rel="noopener"
                target="_blank"
                href="https://www.facebook.com/sharer/sharer.php?u=https://nsursock.netlify.app{{ page.url }}"
                class="rounded-l-lg relative inline-flex items-center p-3 text-sm font-medium border bg-white border-gray-300
                  text-gray-500 hover:bg-gray-50">
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  class="icon icon-tabler icon-tabler-brand-facebook"
                  width="24"
                  height="24"
                  viewbox="0 0 24 24"
                  stroke-width="2"
                  stroke="currentColor"
                  fill="none"
                  stroke-linecap="round"
                  stroke-linejoin="round">
                  <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                  <path d="M7 10v4h3v7h4v-7h3l1 -4h-4v-2a1 1 0 0 1 1 -1h3v-4h-3a5 5 0 0 0 -5 5v2h-3"></path>
                </svg>
              </a>
              <a
                rel="noopener"
                target="_blank"
                href="https://twitter.com/intent/tweet?url=https://nsursock.netlify.app{{ page.url }}"
                class=" -ml-px relative inline-flex items-center p-3 text-sm font-medium border bg-white border-gray-300 text-gray-500
                  hover:bg-gray-50">
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  class="icon icon-tabler icon-tabler-brand-twitter"
                  width="24"
                  height="24"
                  viewbox="0 0 24 24"
                  stroke-width="2"
                  stroke="currentColor"
                  fill="none"
                  stroke-linecap="round"
                  stroke-linejoin="round">
                  <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                  <path d="M22 4.01c-1 .49 -1.98 .689 -3 .99c-1.121 -1.265 -2.783 -1.335 -4.38 -.737s-2.643 2.06 -2.62 3.737v1c-3.245 .083 -6.135
                    -1.395 -8 -4c0 0 -4.182 7.433 4 11c-1.872 1.247 -3.739 2.088 -6 2c3.308 1.803 6.913 2.423 10.034 1.517c3.58 -1.04 6.522
                    -3.723 7.651 -7.742a13.84 13.84 0 0 0 .497 -3.753c-.002 -.249 1.51 -2.772 1.818 -4.013z"></path>
                </svg>
              </a>
              <a
                rel="noopener"
                target="_blank"
                href="https://www.linkedin.com/sharing/share-offsite/?url=https://nsursock.netlify.app{{ page.url }}"
                class="rounded-r-lg -ml-px relative inline-flex items-center p-3 text-sm font-medium border bg-white border-gray-300
                  text-gray-500 hover:bg-gray-50">
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  class="icon icon-tabler icon-tabler-brand-linkedin"
                  width="24"
                  height="24"
                  viewbox="0 0 24 24"
                  stroke-width="2"
                  stroke="currentColor"
                  fill="none"
                  stroke-linecap="round"
                  stroke-linejoin="round">
                  <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                  <rect x="4" y="4" width="16" height="16" rx="2"></rect>
                  <line x1="8" y1="11" x2="8" y2="16"></line>
                  <line x1="8" y1="8" x2="8" y2="8.01"></line>
                  <line x1="12" y1="16" x2="12" y2="11"></line>
                  <path d="M16 16v-3a2 2 0 0 0 -4 0"></path>
                </svg>
              </a>
            </div>
            <div class="m-4 md:m-0 flex md:flex-col">
              <div class="">
                <h2 class=" text-base text-indigo-600 font-semibold tracking-wide uppercase ">
                  Written by
                </h2>
                <p class=" mt-2 text-3xl leading-8 font-extrabold tracking-tight text-gray-900 sm:text-4xl dark:bg-indigo-900
                    dark:text-gray-200 ">
                  {{ author }}
                </p>
              </div>
              <div class="mt-1 flex flex-col sm:ml-6 md:ml-0 w-48">
                <div class="mt-2 flex items-center text-sm text-gray-500">
                  <svg
                    class="flex-shrink-0 mr-1.5 h-5 w-5 text-gray-400"
                    xmlns="http://www.w3.org/2000/svg"
                    viewbox="0 0 20 20"
                    fill="currentColor"
                    aria-hidden="true">
                    <path
                      fill-rule="evenodd"
                      d="M5.05 4.05a7 7 0 119.9 9.9L10 18.9l-4.95-4.95a7 7 0 010-9.9zM10 11a2 2 0 100-4 2 2 0 000 4z"
                      clip-rule="evenodd"/>
                  </svg>
                  {{ location }}
                </div>
                <div class="mt-2 flex items-center text-sm text-gray-500" x-data="{ time: {{ content.split(' ').length / 200 }} }">
                  <svg
                    class="flex-shrink-0 mr-1.5 h-5 w-5 text-gray-400"
                    xmlns="http://www.w3.org/2000/svg"
                    viewbox="0 0 20 20"
                    fill="currentColor"
                    aria-hidden="true">
                    <path d="M8.433 7.418c.155-.103.346-.196.567-.267v1.698a2.305 2.305 0 01-.567-.267C8.07 8.34 8 8.114 8
                      8c0-.114.07-.34.433-.582zM11 12.849v-1.698c.22.071.412.164.567.267.364.243.433.468.433.582 0 .114-.07.34-.433.582a2.305
                      2.305 0 01-.567.267z"/>
                    <path
                      fill-rule="evenodd"
                      d="M10 18a8 8 0 100-16 8 8 0 000 16zm1-13a1 1 0 10-2 0v.092a4.535 4.535 0 00-1.676.662C6.602 6.234 6 7.009 6 8c0 .99.602
                        1.765 1.324 2.246.48.32 1.054.545 1.676.662v1.941c-.391-.127-.68-.317-.843-.504a1 1 0 10-1.51 1.31c.562.649 1.413 1.076
                        2.353 1.253V15a1 1 0 102 0v-.092a4.535 4.535 0 001.676-.662C13.398 13.766 14 12.991 14
                        12c0-.99-.602-1.765-1.324-2.246A4.535 4.535 0 0011 9.092V7.151c.391.127.68.317.843.504a1 1 0
                        101.511-1.31c-.563-.649-1.413-1.076-2.354-1.253V5z"
                      clip-rule="evenodd"/>
                  </svg>
                  <span x-text="`${ Math.round(time).toString().split('.')[0] } min read`"/>
                </div>
                <div class="mt-2 flex items-center text-sm text-gray-500">
                  <svg
                    class="flex-shrink-0 mr-1.5 h-5 w-5 text-gray-400"
                    xmlns="http://www.w3.org/2000/svg"
                    viewbox="0 0 20 20"
                    fill="currentColor"
                    aria-hidden="true">
                    <path
                      fill-rule="evenodd"
                      d="M6 2a1 1 0 00-1 1v1H4a2 2 0 00-2 2v10a2 2 0 002 2h12a2 2 0 002-2V6a2 2 0 00-2-2h-1V3a1 1 0 10-2 0v1H7V3a1 1 0
                        00-1-1zm0 5a1 1 0 000 2h8a1 1 0 100-2H6z"
                      clip-rule="evenodd"/>
                  </svg>
                  {{ date | date("MMM dd, yyyy") }} at {{ date | date("kk:mm") }}
                </div>
              </div>
            </div>
            <p class="hidden xl:block mt-4 max-w-2xl text-xl text-gray-500 lg:mx-auto dark:bg-indigo-900 dark:text-gray-200 ">
              {{ description }}
            </p>
          </div>
        </aside>
      </div>
      <div id="posts" class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8">
        <div class="lg:text-center mt-8">
          <p class=" mt-2 text-3xl leading-8 font-extrabold tracking-tight text-gray-900 sm:text-4xl dark:bg-indigo-900
              dark:text-gray-200 ">
            More to read
          </p>
          <p class=" mt-4 max-w-2xl text-xl text-gray-500 lg:mx-auto dark:bg-indigo-900 dark:text-gray-200 ">
            Check out other articles on this blog. Below find the previous and next ones. You can also browse the top 3 posts of the
            blog.
          </p>
        </div>
        <ul
          x-data="{ showArticle: false }"
          class="md:h-screen mt-6 flex flex-col space-y-2 sm:space-y-0 sm:flex-row sm:space-x-3 items-center justify-center"
          x-intersect.once="showArticle = true; $el.classList.remove('md:h-screen')">
          {% set previousPost = collections.blog | getPreviousCollectionItem(page) %}
          {% set nextPost = collections.blog | getNextCollectionItem(page) %}
          {% if previousPost %}
            <li
              x-show="showArticle"
              x-transition:enter="transform transition ease-in-out duration-1000"
              x-transition:enter-start="-rotate-180 scale-50 opacity-25"
              x-transition:enter-end="rotate-0 scale-100 opacity-100"
              class="bg-white shadow-lg border border-gray-200 rounded-lg max-w-sm h-full">
              <a href="{{ previousPost.url }}">
                <img class="rounded-t-lg" data-src="{{ previousPost.data.featured }}&q=80&w=480&h=320" alt="" x-intersect.once.ratio-0="showArticle = true; $el.src = $el.dataset.src"/>
                <div class="flex flex-col p-7 divide-y divide-gray-300 justify-between">
                  <div class="">
                    <h2 class=" text-sm text-indigo-600 font-semibold tracking-wide uppercase text-center ">
                      {{ previousPost.data.tags[0] }}
                    </h2>
                    <p class="line-clamp-2 mt-2 text-lg leading-6 font-bold tracking-tight text-gray-900 sm:text-xl dark:bg-indigo-900
                        dark:text-gray-200 ">
                      {{ previousPost.data.title + ' ' + previousPost.data.title2 }}
                    </p>
                    <p class="line-clamp-4 mt-4 max-w-2xl text-md text-gray-500 lg:mx-auto dark:bg-indigo-900 dark:text-gray-200 ">
                      {{ previousPost.data.description }}
                    </p>
                  </div>
                  <div class="mt-4 pt-4 flex items-center">
                    <img
                      class="h-12 w-12 rounded-full"
                      data-src="/static/img/{{ previousPost.data.author.split(' ').join('-') }}-small.jpg"
                      x-intersect.once.ratio-0="$el.src = $el.dataset.src"
                      alt=""/>
                    <div class="ml-3 flex flex-col" x-data="{ time: {{ previousPost.templateContent.split(' ').length / 200 }} }">
                      <span class="text-sm font-semibold">{{ previousPost.data.author }}</span>
                      <span class="text-sm text-gray-500">
                        {{ previousPost.data.date | date("MMM dd, yyyy") }} • <span x-text="`${Math.round(time).toString().split('.')[0]} min read`"/>
                      </span>
                    </div>
                  </div>
                </div>
              </a>
            </li>
          {% endif %}
          {% if nextPost %}
            <li
              x-show="showArticle"
              x-transition:enter="transform transition ease-in-out duration-1000"
              x-transition:enter-start="-rotate-180 scale-50 opacity-25"
              x-transition:enter-end="rotate-0 scale-100 opacity-100"
              class="bg-white shadow-lg border border-gray-200 rounded-lg max-w-sm h-full">
              <a href="{{ nextPost.url }}">
                <img class="rounded-t-lg" data-src="{{ nextPost.data.featured }}&q=80&w=480&h=320" alt="" x-intersect.once.ratio-0="showArticle = true; $el.src = $el.dataset.src"/>
                <div class="flex flex-col p-7 divide-y divide-gray-300 justify-between">
                  <div class="">
                    <h2 class=" text-sm text-indigo-600 font-semibold tracking-wide uppercase text-center ">
                      {{ nextPost.data.tags[0] }}
                    </h2>
                    <p class="line-clamp-2 mt-2 text-lg leading-6 font-bold tracking-tight text-gray-900 sm:text-xl dark:bg-indigo-900
                        dark:text-gray-200 ">
                      {{ nextPost.data.title + ' ' + nextPost.data.title2 }}
                    </p>
                    <p class="line-clamp-4 mt-4 max-w-2xl text-md text-gray-500 lg:mx-auto dark:bg-indigo-900 dark:text-gray-200 ">
                      {{ nextPost.data.description }}
                    </p>
                  </div>
                  <div class="mt-4 pt-4 flex items-center">
                    <img
                      class="h-12 w-12 rounded-full"
                      data-src="/static/img/{{ nextPost.data.author.split(' ').join('-') }}-small.jpg"
                      alt=""
                      x-intersect.once.ratio-0="$el.src = $el.dataset.src"/>
                    <div class="ml-3 flex flex-col" x-data="{ time: {{ nextPost.templateContent.split(' ').length / 200 }} }">
                      <span class="text-sm font-semibold">{{ nextPost.data.author }}</span>
                      <span class="text-sm text-gray-500">
                        {{ nextPost.data.date | date("MMM dd, yyyy") }} • <span x-text="`${Math.round(time).toString().split('.')[0]} min read`"/>
                      </span>
                    </div>
                  </div>
                </div>
              </a>
            </li>
          {% endif %}
        </ul>
        <section id="top">
          {%- set postslist = collections.blog | top -%}
          {%- include 'postslist.html' -%}
        </section>
      </div>
    {% endblock %}
    {% include 'sections/cta.html' %}
    {% include 'footer.html' %}
    {% if env.environment == "production" %}
      {# <script>
                                (function (h, o, t, j, a, r) {
                                  h.hj = h.hj || function () {
                                    (h.hj.q = h.hj.q || []).push(arguments)
                                  };
                                  h._hjSettings = {
                                    hjid: 2754548,
                                    hjsv: 6
                                  };
                                  a = o.getElementsByTagName('head')[0];
                                  r = o.createElement('script');
                                  r.async = 1;
                                  r.src = t + h._hjSettings.hjid + j + h._hjSettings.hjsv;
                                  a.appendChild(r);
                                })(window, document, 'https://static.hotjar.com/c/hotjar-', '.js?sv=');
                              </script> #}
      <script async src="https://www.googletagmanager.com/gtag/js?id=G-C3CETTNJHN"></script>
      <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() {
          dataLayer.push(arguments);
        }
        gtag("js", new Date());
        gtag("config", "G-C3CETTNJHN");
        gtag('config', 'AW-824380923');
      </script>
    {% endif %}
  </body>
</html>