---
description: Ambition doesn't make me ugly. I try to put an end to human perplexity and root for world peace. Because I'm also an artist at war with the world.
author: Nicolas Sursock
pagination:
  data: collections.blog
  size: 9
  reverse: true
eleventyComputed:
  title: Home (Page {{ pagination.pageNumber + 1 }})
---

<style>
  [x-cloak] {
    display: none;
  }
</style>
{# This page is built with nunjucks! #}
{# {% set title = 'Home | Cracking Da Code' %} #}
{% extends "layouts/page.njk" %}
{% block head %}
  <link
    rel="preload"
    as="image"
    media="(max-width: 799px)"
    href="https://images.unsplash.com/photo-1535903021127-d50417eae4a3?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&q=80&w=480&h=320"/>
  <link rel="preload" href="/static/fonts/aldrich/aldrich-v17-latin-regular.woff2" as="font" crossorigin/>
  <link rel="preload" href="/static/fonts/aldrich/aldrich-v17-latin-regular.woff" as="font" crossorigin/>
  <link rel="preload" href="/static/fonts/aldrich/aldrich-v17-latin-regular.ttf" as="font" crossorigin/>
  <script>
    if (
      localStorage.crdacode_theme === 'dark' ||
      (!('crdacode_theme' in localStorage) && window.matchMedia('(prefers-color-scheme: dark)').matches)
    ) {
      document
        .documentElement
        .classList
        .add('dark')
    } else {
      document
        .documentElement
        .classList
        .remove('dark')
    }
  </script>
{% endblock %}
{% block body %}
  <!-- This example requires Tailwind CSS v2.0+ -->
  <div class="relative bg-white overflow-hidden dark:bg-gray-900" x-data="{ showMenu: false }">
    <div class="max-w-7xl mx-auto dark:bg-gray-900">
      <div class="dark:bg-gray-900 relative z-10 pb-8 bg-white sm:pb-16 md:pb-20 lg:max-w-2xl lg:w-full lg:pb-28 xl:pb-32">
        <svg
          class="hidden lg:block absolute right-0 inset-y-0 h-full w-48 text-white dark:text-gray-900 transform translate-x-1/2"
          fill="currentColor"
          viewBox="0 0 100 100"
          preserveAspectRatio="none"
          aria-hidden="true">
          <polygon points="50,0 100,0 50,100 0,100"/>
        </svg>
        <div>
          <div class="relative pt-6 px-4 sm:px-6 lg:px-8">
            <nav class="relative flex items-center justify-between sm:h-10 lg:justify-start" aria-label="Global">
              <div class="flex items-center flex-grow flex-shrink-0 lg:flex-grow-0">
                <div class="flex items-center justify-between w-full md:w-auto">
                  <div>
                    <span class="sr-only">Home</span>
                    <a href="/">
                      <svg
                        xmlns="http://www.w3.org/2000/svg"
                        class="h-8 w-auto sm:h-10 text-indigo-500 stroke-current"
                        fill="none"
                        viewBox="0 0 24 24"
                        stroke="currentColor"
                        stroke-width="2">
                        <path
                          stroke-linecap="round"
                          stroke-linejoin="round"
                          d="M12 4v1m6 11h2m-6 0h-2v4m0-11v3m0 0h.01M12 12h4.01M16 20h4M4 12h4m12 0h.01M5 8h2a1 1 0 001-1V5a1 1 0 00-1-1H5a1 1 0
                            00-1 1v2a1 1 0 001 1zm12 0h2a1 1 0 001-1V5a1 1 0 00-1-1h-2a1 1 0 00-1 1v2a1 1 0 001 1zM5 20h2a1 1 0 001-1v-2a1 1 0
                            00-1-1H5a1 1 0 00-1 1v2a1 1 0 001 1z"/>
                      </svg>
                    </a>
                  </div>
                  <div class="-mr-2 flex items-center md:hidden">
                    {% include 'partials/darkmode.njk' %}
                    <button
                      @click="showMenu = !showMenu"
                      type="button"
                      class="bg-white dark:bg-gray-900 rounded-md p-2 inline-flex items-center justify-center text-gray-400 hover:text-gray-500
                        hover:bg-gray-100 focus:outline-none focus:ring-2 focus:ring-inset focus:ring-indigo-500"
                      aria-expanded="false">
                      <span class="sr-only">Open main menu</span>
                      <!-- Heroicon name: outline/menu -->
                      <svg
                        class="h-6 w-6"
                        xmlns="http://www.w3.org/2000/svg"
                        fill="none"
                        viewBox="0 0 24 24"
                        stroke="currentColor"
                        aria-hidden="true">
                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h16M4 18h16"/>
                      </svg>
                    </button>
                  </div>
                </div>
              </div>
              {% if nav.menus %}
                <div class="hidden md:block md:ml-10 md:pr-4 md:space-x-8">
                  {% for menu in nav.menus %}
                    <a href="{{ menu.route }}" class="font-medium text-gray-500 dark:text-gray-400 hover:text-gray-900 hover:dark:text-gray-500">
                      {{ menu.name }}
                    </a>
                  {% endfor %}
                </div>
              {% endif %}
              <div class="hidden md:flex items-center justify-end md:flex-1 lg:w-0">
                {% include 'partials/darkmode.njk' %}
              </div>
            </nav>
          </div>
          <!-- Mobile menu, show/hide based on menu open state.
          
          Entering: "duration-150 ease-out"
              From: "opacity-0 scale-95"
              To: "opacity-100 scale-100"
          Leaving: "duration-100 ease-in"
              From: "opacity-100 scale-100"
              To: "opacity-0 scale-95" -->
          <div
            x-cloak="x-cloak"
            x-show="showMenu"
            @click.outside="showMenu = false"
            class="absolute z-10 top-0 inset-x-0 p-2 transition transform origin-top-right md:hidden">
            <div class="rounded-lg shadow-md bg-white ring-1 ring-black ring-opacity-5 overflow-hidden dark:bg-gray-800">
              <div class="px-5 pt-4 flex items-center justify-between">
                <div>
                  <span class="sr-only">Home</span>
                  <a href="/">
                    <svg
                      xmlns="http://www.w3.org/2000/svg"
                      class="h-8 w-auto sm:h-10 text-indigo-500 stroke-current"
                      fill="none"
                      viewBox="0 0 24 24"
                      stroke="currentColor"
                      stroke-width="2">
                      <path
                        stroke-linecap="round"
                        stroke-linejoin="round"
                        d="M12 4v1m6 11h2m-6 0h-2v4m0-11v3m0 0h.01M12 12h4.01M16 20h4M4 12h4m12 0h.01M5 8h2a1 1 0 001-1V5a1 1 0 00-1-1H5a1 1 0
                          00-1 1v2a1 1 0 001 1zm12 0h2a1 1 0 001-1V5a1 1 0 00-1-1h-2a1 1 0 00-1 1v2a1 1 0 001 1zM5 20h2a1 1 0 001-1v-2a1 1 0
                          00-1-1H5a1 1 0 00-1 1v2a1 1 0 001 1z"/>
                    </svg>
                  </a>
                </div>
                <div class="-mr-2">
                  <button
                    @click="showMenu = !showMenu"
                    type="button"
                    class="bg-white dark:bg-gray-800 rounded-md p-2 inline-flex items-center justify-center text-gray-400 hover:text-gray-500
                      hover:bg-gray-100 focus:outline-none focus:ring-2 focus:ring-inset focus:ring-indigo-500">
                    <span class="sr-only">Close main menu</span>
                    <!-- Heroicon name: outline/x -->
                    <svg
                      class="h-6 w-6"
                      xmlns="http://www.w3.org/2000/svg"
                      fill="none"
                      viewBox="0 0 24 24"
                      stroke="currentColor"
                      aria-hidden="true">
                      <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M6 18L18 6M6 6l12 12"/>
                    </svg>
                  </button>
                </div>
              </div>
              {% if nav.menus %}
                <div class="px-2 pt-2 pb-3 space-y-1">
                  {% for menu in nav.menus %}
                    <a href="{{ menu.route }}" class="block px-3 py-2 rounded-md text-base font-medium text-gray-700 dark:text-gray-400 hover:text-gray-900 hover:bg-gray-50 dark:hover:bg-gray-700">
                      {{ menu.name }}
                    </a>
                  {% endfor %}
                </div>
              {% endif %}
            </div>
          </div>
        </div>
        <main class="mt-10 mx-auto max-w-7xl px-4 sm:mt-12 sm:px-6 md:mt-16 lg:mt-20 lg:px-8 xl:mt-28">
          <div class="sm:text-center lg:text-left">
            <h1 class="text-4xl tracking-tight font-extrabold text-gray-900 sm:text-5xl md:text-6xl">
              <span class=" inline dark:text-white">
                Cracking Da Code:
              </span>
              <div>
                <template x-if="coinFlip < 0.5">
                  <div>
                    <span class=" text-indigo-600 inline">
                      Peace On Earth & End To War
                    </span>
                  </div>
                </template>
                <template x-if="coinFlip >= 0.5">
                  <div>
                    <span class=" text-indigo-600 inline">
                      A Blog For Everyday People
                    </span>
                  </div>
                </template>
              </div>
            </h1>
            <template x-if="!('crdacode_ReturningUser' in localStorage)">
              <p class="mt-3 text-base text-gray-500 dark:text-gray-400 sm:mt-5 sm:text-lg sm:max-w-xl sm:mx-auto md:mt-5 md:text-xl
                  lg:mx-0">
                In code we trust. I'm a developer and musician working on the sensitive subject of world peace as a side project. That
                time will come, one day you'll see, when we can all be friends.
              </p>
            </template>
            <template x-if="('crdacode_ReturningUser' in localStorage)">
              <p class="mt-3 text-base text-gray-500 dark:text-gray-400 sm:mt-5 sm:text-lg sm:max-w-xl sm:mx-auto md:mt-5 md:text-xl
                  lg:mx-0">
                We found the code for freedom and in code we trust. We're working on the subject of world peace as a side project. This
                could be heaven for everyone.
              </p>
            </template>
            <!-- <div class="mt-5 sm:mt-8 sm:flex sm:flex-col sm:items-center sm:justify-center lg:block" > <h3
                class="text-sm font-semibold text-indigo-500 tracking-wider uppercase"
            >
                Never miss a beat!
            </h3> <p class="mt-1 text-base text-gray-500 dark:text-gray-400">
                The latest content from the blog is regularly sent by email.
            </p> <form
                class="mt-4 sm:flex sm:max-w-md"
                name="subscription"
                method="POST"
                data-netlify="true"
                action="/thanks"
                netlify-honeypot="bot-field"
            >
                <p class="hidden">
                  <label>
                    Don't fill this out if you're human:
                    <input name="bot-field" />
                  </label>
                </p>
                <label class="sr-only">email</label>
                <input
                  required
                  type="email"
                  name="email"
                  placeholder="Email address"
                  value=""
                  class="appearance-none min-w-0 w-full bg-white border border-gray-500 dark:border-transparent rounded-md py-2 px-4 text-base text-gray-900 placeholder-gray-500 dark:focus:outline-none dark:focus:ring-2 dark:focus:ring-offset-2 dark:focus:ring-offset-gray-800 dark:focus:ring-white dark:focus:border-white dark:focus:placeholder-gray-400"
                />
            
                <div class="mt-3 rounded-md sm:mt-0 sm:ml-3 sm:flex-shrink-0">
                  <button
                    @click="plausible('Subscribed')"
                    type="submit"
                    class="w-full bg-indigo-500 border border-transparent rounded-md py-2 px-4 flex items-center justify-center text-base font-medium text-white hover:bg-indigo-600 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-offset-gray-800 focus:ring-indigo-500"
                  >
                    Subscribe
                  </button>
                </div>
            </form> </div> -->
            <div class="mt-5 sm:mt-8 sm:flex sm:justify-center lg:justify-start">
              <div class="rounded-md shadow">
                <template x-if="('crdacode_ReturningUser' in localStorage)">
                  <a
                    @click="if (typeof umami !== 'undefined') mixpanel.track('Clicked Primary Button (Code)')"
                    href="/blog/just-solution/"
                    class="umami--click--code-button w-full flex items-center justify-center px-8 py-3 border border-transparent text-base
                      font-medium rounded-md text-white bg-indigo-600 hover:bg-indigo-700 md:py-4 md:text-lg md:px-10 ">
                    Get The Code
                  </a>
                </template>
                <template x-if="!('crdacode_ReturningUser' in localStorage)">
                  {% set randomPost = collections.blog | getRandom %}
                  <a @click="if (typeof umami !== 'undefined') mixpanel.track('Clicked Primary Button (Random)')" href="{{ randomPost.url }}" class="umami--click--random-button w-full flex items-center justify-center px-8 py-3 border border-transparent text-base font-medium rounded-md text-white bg-indigo-600 hover:bg-indigo-700 md:py-4 md:text-lg md:px-10 ">
                    Random Post
                  </a>
                </template>
              </div>
              <div class="mt-3 sm:mt-0 sm:ml-3">
                <a
                  @click="if (typeof umami !== 'undefined') mixpanel.track('Clicked Secondary Button')"
                  href="/blog"
                  class="umami--click--explore-button w-full flex items-center justify-center px-8 py-3 border border-transparent text-base
                    font-medium rounded-md text-indigo-700 bg-indigo-100 hover:bg-indigo-200 md:py-4 md:text-lg md:px-10 ">
                  Explore Blog
                </a>
              </div>
            </div>
          </div>
        </main>
      </div>
    </div>
    <div
      class="lg:absolute lg:inset-y-0 lg:right-0 lg:w-1/2"
      x-data="{ photoUrl:
        'https://images.unsplash.com/photo-1535903021127-d50417eae4a3?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop'
        }"
      }>
      <picture>
        <source media="(max-width: 799px)" height="320" width="480" :srcset="photoUrl + '&q=80&w=480&h=320'"/>
        <source media="(min-width: 800px)" height="720" width="1080" :srcset="photoUrl + '&q=80&w=1080&h=720'"/>
        <img
          fetchpriority="high"
          class="h-56 w-full object-cover sm:h-72 md:h-96 lg:w-full lg:h-full"
          :src="photoUrl + '&q=80&w=1920&h=1280'"
          alt="wall tagged with world peace"/>
      </picture>
    </div>
  </div>
  <section id="posts" class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8 dark:bg-gray-900">
    <div class="lg:text-center mt-8">
      <p class="mt-2 text-3xl leading-8 font-extrabold tracking-tight text-gray-900 sm:text-4xl dark:text-white">
        Explore the blog
      </p>
      <p class="mt-4 max-w-2xl text-xl text-gray-500 lg:mx-auto dark:text-gray-400">
        Discover the most viewed posts of this blog below. Or you can read the latest published posts, fresh from the oven!
      </p>
    </div>
    {# {%- include './_includes/tagslist.njk' -%} #}
    <div x-data="{ isTopList: false }" class="mt-10">
      <h3 class="text-lg leading-6 font-medium text-gray-900 dark:text-white">Latest Posts</h3>
      {# {%- set postslist = collections.blog | reverse -%} #}
      <ol
        x-data="{ showArticle: false }"
        class="snap-y snap-mandatory md:h-screen mt-6 grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-4 gap-y-7"
        x-intersect.once="showArticle = true; $el.classList.remove('md:h-screen')">
        {%- for post in pagination.items -%}
          {# {% set views = post.views %}
                                                                                                                                                                                                                                                                                                                                                {% set post = post.post %}
                                                                                                                                                                                                                                                                                                                                                <div class="relative"> #}
          {%- include 'partials/postcard.njk' -%}
          {# <div class='-mx-3 -my-2 w-12 h-12 flex items-center justify-center bg-white rounded-full border  absolute bottom-0 right-0'>
                                                                                                                                                                                                                                                                                                                                                    <span>{{ views }}</span>
                                                                                                                                                                                                                                                                                                                                                  </div>
                                                                                                                                                                                                                                                                                                                                                </div> #}
        {%- endfor -%}
      </ol>
      <!-- This example requires Tailwind CSS v2.0+ -->
      <nav class="mt-5 border-t border-gray-200 dark:border-gray-700 px-4 flex items-center justify-between sm:px-0">
        <div class="-mt-px w-0 flex-1 flex justify-end">
          {% if pagination.href.previous %}
            <a
              href="{{ pagination.href.previous }}#posts" class="border-t-2 border-transparent pt-4 pr-1 inline-flex items-center text-sm font-medium text-gray-500 hover:text-gray-700 hover:border-gray-300">
              <!-- Heroicon name: solid/arrow-narrow-left -->
              <svg
                class="mr-3 h-5 w-5 text-gray-400"
                xmlns="http://www.w3.org/2000/svg"
                viewBox="0 0 20 20"
                fill="currentColor"
                aria-hidden="true">
                <path
                  fill-rule="evenodd"
                  d="M7.707 14.707a1 1 0 01-1.414 0l-4-4a1 1 0 010-1.414l4-4a1 1 0 011.414 1.414L5.414 9H17a1 1 0 110 2H5.414l2.293 2.293a1
                    1 0 010 1.414z"
                  clip-rule="evenodd"/>
              </svg>
              Prev
            </a>
          {% endif %}
          {% if page.url != pagination.href.first %}
            <a href="{{ pagination.href.first }}#posts" class="ml-2 border-t-2 border-transparent pt-4 pr-1 inline-flex items-center text-sm font-medium text-gray-500 hover:text-gray-700 hover:border-gray-300">
              First
            </a>
          {% endif %}
        </div>
        <div class="hidden md:-mt-px md:flex">
          {% for page_entry in pagination.pages %}
            {%- set page_url = pagination.hrefs[loop.index0] -%}
            <!-- Current: "border-indigo-500 text-indigo-600", Default: "border-transparent text-gray-500 hover:text-gray-700
            hover:border-gray-300" -->
            <a href="{{ page_url }}#posts" {% if page.url == page_url %} class="border-indigo-500 text-indigo-600 border-t-2 pt-4 px-4 inline-flex items-center text-sm font-medium" {% endif %} class="border-transparent text-gray-500 hover:text-gray-700 hover:border-gray-300 border-t-2 pt-4 px-4 inline-flex items-center text-sm font-medium" aria-current="page">
              {{ loop.index }}
            </a>
            {# <span class="border-transparent text-gray-500 border-t-2 pt-4 px-4 inline-flex items-center text-sm font-medium"> ... </span> #}
          {% endfor %}
        </div>
        <div class="-mt-px w-0 flex-1 flex ">
          {% if page.url != pagination.href.last %}
            <a href="{{ pagination.href.last }}#posts" class="mr-2 border-t-2 border-transparent pt-4 pl-1 inline-flex items-center text-sm font-medium text-gray-500 hover:text-gray-700 hover:border-gray-300">
              Last
            </a>
          {% endif %}
          {% if pagination.href.next %}
            <a href="{{ pagination.href.next }}#posts" class="border-t-2 border-transparent pt-4 pl-1 inline-flex items-center text-sm font-medium text-gray-500 hover:text-gray-700 hover:border-gray-300">
              Next
              <!-- Heroicon name: solid/arrow-narrow-right -->
              <svg
                class="ml-3 h-5 w-5 text-gray-400"
                xmlns="http://www.w3.org/2000/svg"
                viewBox="0 0 20 20"
                fill="currentColor"
                aria-hidden="true">
                <path
                  fill-rule="evenodd"
                  d="M12.293 5.293a1 1 0 011.414 0l4 4a1 1 0 010 1.414l-4 4a1 1 0 01-1.414-1.414L14.586 11H3a1 1 0
                    110-2h11.586l-2.293-2.293a1 1 0 010-1.414z"
                  clip-rule="evenodd"/>
              </svg>
            </a>
          {% endif %}
        </div>
      </nav>
    </div>
    {# {%- if env.environment == 'production' -%} #}
      <div x-data="{ isTopList: true }" class="mt-10">
        <h3 class="text-lg leading-6 font-medium text-gray-900 dark:text-white">Most Viewed Posts</h3>
        {%- set postslist = collections.blog | top -%}
        <ol
          x-data="{ showArticle: false }"
          class="md:h-screen mt-6 grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-4"
          x-intersect.once="showArticle = true; $el.classList.remove('md:h-screen')">
          {%- for post in postslist -%}
            <div x-data="{ type: '#{{ loop.index }}' }">
              {%- include 'partials/postcard.njk' -%}
            </div>
          {%- endfor -%}
        </ol>
      </div>
    {# {%- endif -%} #}
    {% include 'sections/faq.njk' %}
    {% include 'sections/testimonials.njk' %}
    {% if env.environment == "production" %}
      {%- set stats = collections.stats -%}
      {%- include 'partials/stats.njk' -%}
    {% endif %}
  </section>
  <div x-show="showPopup">
    {% include 'partials/popup.njk' %}
  </div>
  <div
    x-data="{ open: false }"
    x-init="() => setTimeout(() => open = true, 500)"
    x-show="open && document.referrer === ''">
    {% include 'cookie-modal.njk' %}
  </div>
{% endblock %}