<style>
  [x-cloak] {
    display: none;
  }
</style>
<!-- This example requires Tailwind CSS v2.0+ -->
<div
    x-show="percent == 100 && showCommentsPanel"
    class="relative z-50"
    x-data="dataComments()"
    x-cloak="x-cloak"
    aria-labelledby="slide-over-title"
    role="dialog"
    aria-modal="true">
    <!-- Background backdrop, show/hide based on slide-over state.
    
    Entering: "ease-in-out duration-500"
        From: "opacity-0"
        To: "opacity-100"
    Leaving: "ease-in-out duration-500"
        From: "opacity-100"
        To: "opacity-0" -->
    <div
        x-show="percent == 100 && showCommentsPanel"
        x-transition:enter="ease-in-out duration-500 "
        x-transition:enter-start="opacity-0 "
        x-transition:enter-end="opacity-100  "
        x-transition:leave="ease-in-out duration-500 "
        x-transition:leave-start="opacity-100 "
        x-transition:leave-end="opacity-0 "
        class="fixed inset-0 bg-gray-500 bg-opacity-75 transition-opacity backdrop-filter backdrop-blur-sm"></div>
    <div class="fixed inset-0 overflow-hidden">
        <div class="absolute inset-0 overflow-hidden">
            <div
                class="pointer-events-none fixed inset-y-0 right-0 flex max-w-full pl-10">
                <!-- Slide-over panel, show/hide based on slide-over state.
                
                Entering: "transform transition ease-in-out duration-500 sm:duration-700"
                    From: "translate-x-full"
                    To: "translate-x-0"
                Leaving: "transform transition ease-in-out duration-500 sm:duration-700"
                    From: "translate-x-0"
                    To: "translate-x-full" -->
                <div
                    @click.outside="showCommentsPanel = !showCommentsPanel"
                    x-show="percent == 100 && showCommentsPanel"
                    x-transition:enter="transform transition ease-in-out duration-500 sm:duration-700 "
                    x-transition:enter-start="translate-x-full "
                    x-transition:enter-end="translate-x-0 "
                    x-transition:leave="transform transition ease-in-out duration-500 sm:duration-700 "
                    x-transition:leave-start="translate-x-0 "
                    x-transition:leave-end="translate-x-full "
                    class="pointer-events-auto w-screen max-w-md">
                    <div class="flex h-full flex-col divide-y divide-gray-200 bg-white shadow-xl dark:bg-gray-900 dark:divide-gray-800">
                        <div class="flex min-h-0 flex-1 flex-col overflow-y-scroll py-6">
                            <div class="px-4 sm:px-6">
                                <div class="flex items-start justify-between">
                                    <h2 class="text-lg font-medium text-gray-900 dark:text-gray-400" id="slide-over-title">Comments</h2>
                                    <div class="ml-3 flex h-7 items-center">
                                        <button
                                            @click="showCommentsPanel = !showCommentsPanel"
                                            type="button"
                                            class="rounded-md bg-white dark:bg-gray-900 text-gray-400 hover:text-gray-500 focus:outline-none focus:ring-2
                                                focus:ring-indigo-500">
                                            <span class="sr-only">Close panel</span>
                                            <!-- Heroicon name: outline/x -->
                                            <svg
                                                class="h-6 w-6"
                                                xmlns="http://www.w3.org/2000/svg"
                                                fill="none"
                                                viewBox="0 0 24 24"
                                                stroke-width="2"
                                                stroke="currentColor"
                                                aria-hidden="true">
                                                <path stroke-linecap="round" stroke-linejoin="round" d="M6 18L18 6M6 6l12 12"/>
                                            </svg>
                                        </button>
                                    </div>
                                </div>
                            </div>
                            <div
                                class="relative mt-6 flex-1 px-4 sm:px-6"
                                x-data="{ items: [] }"
                                x-init="items = (await (await fetch('/api/comments-select', { method: 'POST', body: window.location.pathname
                                    })).json()).data">
                                <!-- Replace with your content -->
                                <template
                                    x-if="items.length === 0">
                                    <!-- This example requires Tailwind CSS v2.0+ -->
                                    <div class="flex flex-col justify-center items-center h-full text-center">
                                        <svg
                                            xmlns="http://www.w3.org/2000/svg"
                                            class="mx-auto h-12 w-12 text-gray-400"
                                            fill="none"
                                            viewBox="0 0 24 24"
                                            stroke="currentColor"
                                            stroke-width="2">
                                            <path
                                                stroke-linecap="round"
                                                stroke-linejoin="round"
                                                d="M7 8h10M7 12h4m1 8l-4-4H5a2 2 0 01-2-2V6a2 2 0 012-2h14a2 2 0 012 2v8a2 2 0 01-2 2h-3l-4 4z"/>
                                        </svg>
                                        <h3 class="mt-2 text-sm font-medium text-gray-900 dark:text-gray-100">No comments</h3>
                                        <p class="mt-1 text-sm text-gray-500">Be the first to comment.</p>
                                    </div>
                                </template>
                                {# <div class="h-full border-2 border-dashed border-gray-200 dark:border-gray-800" aria-hidden="true"></div> #}
                                <template
                                    x-if="items.length !== 0">
                                    <!-- This example requires Tailwind CSS v2.0+ -->
                                    <div>
                                        <ul role="list" class="divide-y divide-gray-200 dark:divide-gray-800">
                                            <template x-for="item in items">
                                                <li class="py-4">
                                                    <div class="flex space-x-3">
                                                        {# <img
                                                            class="h-6 w-6 rounded-full"
                                                            src="https://images.unsplash.com/photo-1517841905240-472988babdf9?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=facearea&facepad=3&w=256&h=256&q=80"
                                                            alt=""> #}
                                                            <div class="flex-1 space-y-1">
                                                                <div class="flex flex-col sm:flex-row items-center justify-between">
                                                                    <h3 class="text-sm font-medium dark:text-white">
                                                                        <span x-text="item.author.name"></span>
                                                                    </h3>
                                                                    <p class="text-sm text-gray-500">
                                                                        <span x-text="new Date(item.created_at).toLocaleString()"></span>
                                                                        {# <span x-text="formatDate(item.created_at, 'MMM dd, yyyy') + ' at ' + formatDate(item.created_at, 'kk:mm')"></span> #}
                                                                    </p>
                                                                </div>
                                                                <p class="text-sm text-gray-500 text-justify">
                                                                    <span x-text="item.content"></span>
                                                                </p>
                                                            </div>
                                                        </div>
                                                    </li>
                                                </template>
                                                <!-- More items... -->
                                            </ul>
                                        </div>
                                    </template>
                                    <!-- /End replace -->
                                </div>
                            </div>
                            <div class="px-4 py-4">
                                {# <div>
                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                            <p class="text-sm font-medium text-gray-700 dark:text-gray-300">Sign in with</p>
                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                            <div class="my-3 flex justify-around space-x-4"></div>
                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                        </div> #}
                                <!-- This example requires Tailwind CSS v2.0+ This example requires some changes to your config: ``` //
                                tailwind.config.js module.exports = {
                                    // ...
                                    plugins: [
                                      // ...
                                      require('@tailwindcss/forms'),
                                    ],
                                } ``` -->
                                    <div class=""> <label for="comment" class="block text-sm font-medium text-gray-700 dark:text-gray-400">
                                        Add your comment</label>
                                    <div class="mt-1">
                                        <textarea
                                            x-model="comment"
                                            :rows="!$store.auth.user ? 1 : 4"
                                            name="comment"
                                            id="comment"
                                            class="dark:bg-gray-800 dark:border-gray-700 dark:text-gray-400 shadow-sm focus:ring-indigo-500 focus:border-indigo-500
                                                block w-full sm:text-sm border-gray-300 rounded-md"></textarea>
                                        <p class=" mt-2 text-sm text-gray-500 dark:text-gray-200 ">
                                            <template x-if="!$store.auth.user">
                                                <span>You must authenticate before posting</span>
                                            </template>
                                            <template x-if="$store.auth.user">
                                                <span x-text="'Logged in as ' + $store.auth.user.name"></span>
                                            </template>
                                        </p>
                                    </div>
                                </div>
                                <div class="flex flex-shrink-0 justify-end py-4">
                                    <template x-if="$store.auth.user">
                                        <button
                                            @click="localStorage.removeItem('crdacode_token'); $store.auth.user = null"
                                            type="button"
                                            class="ml-4 rounded-md border border-gray-300 bg-white dark:bg-gray-800 dark:border-gray-700 dark:text-gray-400 py-2 px-4
                                                text-sm font-medium text-gray-700 shadow-sm hover:bg-gray-50 focus:outline-none focus:ring-2 focus:ring-indigo-500
                                                focus:ring-offset-2">
                                            Log Out</button>
                                    </template>
                                    <template x-if="!$store.auth.user">
                                        <div>
                                            <button
                                                @click="showCommentsPanel = false; showAuthSignupModal = true"
                                                type="button"
                                                class="rounded-md border border-gray-300 bg-white dark:bg-gray-800 dark:border-gray-700 dark:text-gray-400 py-2 px-4
                                                    text-sm font-medium text-gray-700 shadow-sm hover:bg-gray-50 focus:outline-none focus:ring-2 focus:ring-indigo-500
                                                    focus:ring-offset-2">
                                                Sign Up</button>
                                            <button
                                                @click="showCommentsPanel = false; showAuthLoginModal = true"
                                                type="button"
                                                class="ml-4 rounded-md border border-gray-300 bg-white dark:bg-gray-800 dark:border-gray-700 dark:text-gray-400 py-2 px-4
                                                    text-sm font-medium text-gray-700 shadow-sm hover:bg-gray-50 focus:outline-none focus:ring-2 focus:ring-indigo-500
                                                    focus:ring-offset-2">
                                                Log In</button>
                                        </div>
                                    </template>
                                    <button
                                        @click="submit"
                                        type="submit"
                                        :disabled="!$store.auth.user"
                                        :class="{ 'opacity-50': !$store.auth.user }"
                                        class="ml-4 inline-flex justify-center rounded-md border border-transparent bg-indigo-600 py-2 px-4 text-sm font-medium
                                            text-white shadow-sm hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-indigo-500 focus:ring-offset-2">
                                        Submit</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script>
        {# import {format} from 'date-fns' #}
        function dataComments() {
            return {
                comment: '',
                submit() {
                    var data = {
                        author: Alpine
                            .store('auth')
                            .user
                            .email,
                        article: window.location.pathname,
                        content: this.comment
                    }
                    fetch('/api/comments-add', {
                        method: 'POST',
                        headers: {
                            'Content-Type': 'application/json'
                        },
                        body: JSON.stringify(data)
                    })
                        .then((response) => response.json())
                        .then((message) => {
                            if (!message.success) 
                                this.error = message.error
                             else {
                                this.showCommentsPanel = false
                            }
                        })
                        .catch((error) => {
                            console.log(error)
                            this.error = error
                        })
                }
            }
        }
    </script>