<!-- <div class="w-full max-w-2xl grid grid-cols-1 lg:grid-cols-2 gap-4 my-8 px-4 lg:mx-0">

    {% if quicklinks.links %}

        {% for item in quicklinks.links %}
            <a href="{{item.url}}" target="_blank" class="p-5 border rounded border-gray-200 hover:border-purple-400">
                <h3>{{item.title}}
                    →</h3>
                <p>{{item.desc}}</p>
            </a>
        {% endfor %}

    {% endif %}

</div> -->

<div class="" x-data="data()" x-init="$nextTick(() => { init(); })">
  {% include "./hero.html" %} {% include "./features.html" %} {% include
  "../case.html" %} {% include "./contact.html" %} {% include "./cta.html" %}
</div>

<script>
  const data = () => {
    return {
      init() {
        let io = new IntersectionObserver(
          function (entries, observer) {
            entries.forEach(function (entry) {
              if (entry.isIntersecting) {
                let lazyImage = entry.target;
                lazyImage.src = lazyImage.dataset.src;
                lazyImage.removeAttribute("data-src");
                io.unobserve(lazyImage);
              }
            });
          },
          { root: null, threshold: 0 }
        );
        const list = document.querySelectorAll("[data-src]");
        list.forEach((lazyImage) => {
          io.observe(lazyImage);
        });
      },
    };
  };
</script>
