<div class="bg-gray-50">
  <div
    class="max-w-7xl mx-auto py-12 px-4 sm:px-6 lg:py-16 lg:px-8 lg:flex lg:items-center lg:justify-between"
  >
    <h2
      class="text-3xl font-extrabold tracking-tight text-gray-900 sm:text-4xl"
    >
      <span class="block">Need to make a payment?</span>
      <span class="block text-indigo-600">You can even make a donation.</span>
    </h2>
    <div class="mt-8 flex lg:mt-0 lg:flex-shrink-0 space-x-1">
      <div class="mr-3 inline-flex rounded-md shadow">
        <label
          for="amount"
          class="block text-sm font-medium text-gray-700 hidden"
          >Amount</label
        >
        <input
          required
          type="text"
          name="amount"
          id="amount"
          autocomplete="amount"
          class="inline-flex items-center justify-center px-5 py-3 border border-transparent text-base font-medium rounded-md text-indigo-600 bg-white hover:bg-indigo-50"
        />
      </div>
      <div class="inline-flex rounded-md shadow">
        <button
          id="payment"
          class="inline-flex items-center justify-center px-5 py-3 border border-transparent text-base font-medium rounded-md text-white bg-indigo-600 hover:bg-indigo-700"
        >
          Pay
        </button>
      </div>
    </div>
  </div>
</div>

<script src="https://js.stripe.com/v3"></script>
<script>
  var stripe = Stripe("{{variables.stripeKey}}");

  document.querySelector("#payment").addEventListener("click", () => {
    var purchase = {
      amount: +document.querySelector("#amount").value,
      currency: "USD",
    };

    fetch("{{variables.apiUrl}}" + "/payment", {
      method: "POST",
      headers: {
        "Content-Type": "application/json",
      },
      body: JSON.stringify(purchase),
    })
      .then((response) => response.json())
      .then((session) => {
        stripe.redirectToCheckout({
          sessionId: session.id,
        });
      })
      .catch((error) => {
        console.error("Error:", error);
      });
  });
</script>
