<li
  x-show="showArticle"
  x-transition:enter="animate-popin"
  class=" snap-center shadow-lg border border-gray-200 rounded-lg max-w-sm h-full mx-auto bg-gray-100 dark:bg-gray-800
    dark:border-gray-700 group transform transition duration-500 ease-in-out hover:scale-105 active:scale-105 "
  :class="typeof isTopList !== 'undefined' && isTopList ? 'sm:last:hidden lg:last:block' : ''">
  <a href="{{ post.url }}">
    <div class="relative">
      <div class="relative">
        <img class="
                      rounded-t-lg
                      transition-all
                      duration-500
                      ease-in-out
                    " :class="typeof type !== 'undefined' ? 'group-hover:filter group-hover:blur-md' : ''" data-src="{{ post.data.featured }}&q=80&w=480&h=320" alt="{{ post.data.title + ' ' + post.data.title2 }}" x-intersect.once.ratio-0="showArticle = true; $el.src = $el.dataset.src"/>
        <template x-if="typeof type !== 'undefined'">
          <div
            class=" absolute inset-0 bg-gray-500 bg-opacity-0 group-hover:bg-opacity-50 group-focus:bg-opacity-50 transition-all
              ease-in-out duration-500 rounded-t-lg "
            aria-hidden="true"/>
        </template>
      </div>
      <template x-if="typeof type !== 'undefined'">
        <div class=" absolute inset-0 flex items-center justify-center max-w-3xl text-8xl font-black text-white opacity-0
            group-hover:opacity-80 group-focus:opacity-80 filter blur-lg group-hover:filter-none group-focus:filter-none
            transition-all ease-in-out duration-[2000ms] mix-blend-overlay ">
          <span x-text="type"></span>
        </div>
      </template>
    </div>
    <div class=" flex flex-col p-7 divide-y divide-gray-300 dark:divide-gray-700 justify-between ">
      <div class="">
        <h2 class=" text-sm text-indigo-600 font-semibold tracking-wide uppercase text-center ">
          {{ post.data.tags[0] }}
        </h2>
        <p class=" line-clamp-2 mt-2 text-lg leading-6 font-bold tracking-tight text-gray-900 sm:text-xl dark:text-white ">
          {{ post.data.title + ' ' + post.data.title2 }}
        </p>
        <p class=" line-clamp-4 mt-4 max-w-2xl text-md text-gray-500 lg:mx-auto dark:text-gray-400 ">
          {{ post.data.description }}
        </p>
      </div>
      <div class="mt-4 pt-4 flex items-center">
        {% for auth in authors.authors %}
          {% if auth.name == post.data.author %}
            <img
              class="h-12 w-12 rounded-full"
              data-src="{{ auth.photo }}-small.jpg"
              alt="Photo of {{ auth.name }}"
              x-intersect.once.ratio-0="$el.src = $el.dataset.src"/>
            <div class="ml-3 flex flex-col">
              <span class="text-sm font-semibold dark:text-white">
                {{ auth.name }}
              </span>
              <span
                class="text-sm text-gray-500 dark:text-gray-400"
                x-data="{ time: {{ post.templateContent.split(' ').length / 200 }} }">
                {{ post.data.date | date("MMM dd, yyyy") }} •
                <span x-text="`${Math.round(time).toString().split('.')[0]} min read`"/>
              </span>
            </div>
          {% endif %}
        {% endfor %}
      </div>
    </div>
  </a>
</li>